body {
  background-color: #616161;
  font-family: "Open Sans", sans-serif;
}
main {
  width: 60%;
  margin: auto;
  background-color: lightgray;
  padding: 10px;
  box-shadow: 2px 2px 20px 0px;
}
p {
  font-family: "Open Sans", sans-serif;
}
#title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
#description {
  text-align: center;
  color: white;
}
#survey-form {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.button {
  width: 150px;
  padding: 10px;
  background-color: #66bb6a;
  border-radius: 2px;
  display: block;
  border: 2px solid #388e3c;
  color: white;
}
.button:hover {
  padding: 10px;
  background-color: #4caf50;
  border-radius: 2px;
  display: inline-block;
  border: 2px solid #388e3c;
  color: white;
  cursor: pointer;
}
.input-field {
  margin-bottom: 5px;
  width: 40%;
  height: 30px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 2px;
  box-sizing: border-box;
}
.labels {
  vertical-align: center;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  width: 40%;
}
.right-tab {
  margin-left: 5px;
  width: 40%;
}
#text-area {
  width: 80%;
  box-sizing: border-box;
}
#dropdown {
  border: 1px solid gray;
  width: 50%;
  border-radius: 2px;
  box-sizing: border-box;
  height: 25px;
}
.buttons {
  width: 100%;
}
#submit {
  margin: auto;
}
@media screen and (max-width: 600px) {
  .labels {
    text-align: left;
    width: 80%;
  }
  .right-tab {
    width: 80%;
  }
  .input-field {
    width: 80%;
  }
}
